body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.field-row {
  display: flex;
}

.field-cell {
  margin: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
}

.snake-cell {
  background-color: green;
}

.apple-cell {
  background-image: url("images/apple.png");
  background-size: cover;
}

.banana-cell {
  background-image: url("images/banana.png");
  background-size: cover;
}

.grape-cell {
  background-image: url("images/grape.png");
  background-size: cover;
}

.strawberry-cell {
  background-image: url("images/strawberry.png");
  background-size: cover;
}

.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  min-width: 200px;
}
